!!!
%html
  %head
    %title Dev Match
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-static-top{role: 'navigation'}
      %div.container
        %div.navbar-header
          %button{type: 'button', class: 'navbar-toggle', 'data-toggle': 'collapse', 'data-target': '#main-nav-collapse'}
            %span{class: 'sr-only'}
              Toggle Navigation
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
          
        = link_to root_path, class: 'navbar-brand' do
          / %i.fa.fa-users.navbar-brand.pull-left.no-padding-top
          Dev Match
        %div.collapse.navbar-collapse{ id: 'main-nav-collapse' }
          %ul.nav.navbar-nav.navbar-right.pull-right
            %li
              = link_to 'About', about_path
            %li
              = link_to 'Contact Us', new_contact_path
    %div.container
      - flash.each do |key, value|
        = content_tag :div, value, class: "alert alert-#{key}", role: "alert"
      = yield
